.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1e1e1;
    padding: 0 10px 0 10px;
}
.menu-container ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-left: 0;
}
.menu-container ul li a {
    text-decoration: none;
    color: whitesmoke;
    background-color: black;
    padding: 4px 4px 4px 4px;
    border-radius: 6px;
}
.menu-user-icons-container {
    display: flex;
    gap: 20px;
}
.menu-user-icons-container img {
    height: 50px;
}